<!--
  Generated template for the AddListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color='primary'>
        <ion-title>{{lista.titulo}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <!-- Header of list-->
    <!-- Form Entry-->
    <ion-list>
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <ion-item>
            <ion-label floating>Nuevo item</ion-label>
            <ion-input [(ngModel)]="NewItem" (keyup.enter)="AddNewItem()"></ion-input>
        </ion-item>
    </ion-list>
    <!-- Items added to list -->
    <ion-list *ngIf="lista!=null">
        <ion-list-header>
            Tareas por hacer
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of lista.Items;let i = index" class="animated fadeInDown">

            <button ion-item detail-one (click)="UpdateItem(item)">
        <ion-icon *ngIf="!item.completado" name="square-outline"> </ion-icon>
        <ion-icon *ngIf="item.completado" name="checkbox-outline"> </ion-icon>
        {{ item.desc }}
      </button>
            <ion-item-options side="right">
                <button ion-button ion-only color='danger' (click)="DeleteItem(i)">
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-item-options>


        </ion-item-sliding>

    </ion-list>
</ion-content>